{% extends "layout.html"%}
{% block title %}
Room visualizer
{% endblock %}

{% block content %}
<div class="row py-4">
    <div class="col-lg-6 mx-auto">
        <header class="text-white text-center">
            <h1 class="display-4">ROOM WALL VISUALIZER</h1>
            <p class="lead mb-5">A webapp to apply new color or texture to your room. Just drop an image and see new
                room.
            </p>
        </header>

        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <input class="form-control border-0" id="upload" name="file" type="file">
            <label class="font-weight-light text-muted" for="upload" id="upload-label">Choose texture</label>
            <div class="input-group-append">
                <label class="btn btn-light m-0 rounded-pill px-4" for="upload"> <i
                        class="fa fa-cloud-upload mr-2 text-muted"></i><small
                        class="text-uppercase font-weight-bold text-muted">Choose texture</small></label>
            </div>

        </div>

        <!-- Uploaded image area-->
        <p class="font-italic text-white text-center">The image uploaded will be rendered inside the box
            below.</p>
        <div class="image-area mt-4"><img src="{{ new_room }}" class=" img-fluid rounded shadow-sm mx-auto d-block"
                id="imageResult" name="change"></div>
    </div>
</div>
<div class="row justify-content-center">
    <form action="{{ url_for('main') }}" enctype="multipart/form-data" method="GET">
        <!-- Submit button-->
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-info my-3" type="submit" name="button" value="color"> return on main
                    </button>
                </div>
            </div>
        </div>
    </form>
    <form id="textureForm" action="{{ url_for('result_textured') }}" enctype="multipart/form-data" method="GET">
        <!-- Submit button-->
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-primary my-3" type="submit" name="button" value="color">apply texture
                    </button>
                </div>
            </div>
        </div>
    </form>
    <form action="{{ url_for('apply_color') }}" enctype="multipart/form-data" method="GET">
        <!-- Submit button-->
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-info my-3" type="submit" name="button" value="color">change color
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/js_texture.js')}}"></script>

{% endblock %}